# Prerequisites
*.d
*.pyc

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
coda_J10/ram_proj_240619_v4/ram_proj/keil_proj/bin/
coda_J10/ram_proj_240619_v4/ram_proj/keil_proj/JLinkLog.txt
coda_J10/ram_proj_240619_v4/ram_proj/keil_proj/JLinkSettings.ini
coda_J10/2024_0701_v11_ram_proj/ram_proj/keil_proj/bin/
coda_J10/2024_0701_v11_ram_proj/ram_proj/keil_proj/bb2ultra_ram.uvguix.roy_xie
coda_J10/2024_0701_v11_ram_proj/ram_proj/keil_proj/bb2ultra_ram.uvoptx
coda_J10/2024_0701_v11_ram_proj/ram_proj/keil_proj/bb2ultra_ram.uvguix.qinyuan_hu
coda_J10/2024_0701_v11_ram_proj/ram_proj/keil_proj/JLinkLog.txt
coda_J10/2024_0701_v11_ram_proj/ram_proj/keil_proj/JLinkSettings.ini
*.disasm
*.roy_xie
coda_J10/ram_proj_240619_v4/ram_proj/src/io_demo/ir/send\177/ir_send_interrupt_demo.c
coda_J10/ram_proj_240619_v4/ram_proj/src/io_demo/ir/send\177/ir_send_polling_mode_demo.c
coda_J10/ram_proj_240705/ram_proj/keil_proj/bin/
coda_J10/ram_proj_240705/ram_proj/keil_proj/JLinkSettings.ini
coda_J10/ram_proj_240705/ram_proj/keil_proj/JLinkLog.txt
